<h1 class="text-center mb-4">Space details</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for @space do |f| %>
        <%= f.input :location %>
        <%= f.input :volume, as: :float, hint: 'in m³' %>
        <%= f.input :price_per_month, as: :float, hint: 'in €' %>
        <%= f.input :condition %>
        <%= f.input :access %>
        <%= f.input :description %>
        <div class="form-group file optional space_image"><label class="file optional" for="space_image">Image</label>
          <br>
        <label class="btn btn-secondary btn-block">
            Browse <input class="form-control-file file optional" type="file" name="space[image]" id="space_image" hidden>
        </label>
        <% # TODO: JS on file selection %>
        </div>
        <%= f.button :submit, class: 'btn btn-primary btn-block btn-lg mt-5' %>
      <% end %>
    </div>
  </div>
</div>


