<br>
<div class = "mx-auto" style="width: 400px;">

  <h3><b>Create an offer</b></h3>
  <%= cl_image_tag @storage.photo.key, height: 200, width: 400, crop: :fill %>
  <h1>Book <%= @storage.name %> today</h1>

  <%= simple_form_for ([@storage, @offer])  do |f| %>
  <%= f.input :start_date, as: :date, html5:true %>
  <%= f.input :end_date, as: :date, html5:true %>
  <%= f.submit "Make a offer", class: "btn btn-primary btn-block"%>
  <% end %>
  <%= link_to "Back to all storages", storages_path, class: "btn btn-light btn-block"%>

</div>
<br>