<h1>Spaces#new</h1>
<p>Find me in app/views/spaces/new.html.erb</p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create new Storage</h1>

      <%= simple_form_for @space do |f| %>
        <%= f.input :location %>
        <%= f.input :volume, as: :float, hint: 'in m³' %>
        <%= f.input :price_per_month, as: :float, hint: 'in €' %>
        
        <%= f.input :image, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

