
<!-- code a Banner section -->
<div class="banner full-width" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_url('images.jpg')%>);">
  <h1><strong>Having trouble to get rid of all your Favorite Records?</strong> </h1>
  <p>Just store them somewhere else </p>
      <%= link_to "Let's store!", spaces_path, class:"btn btn-primary"  %>
    </div>
<br>
<br>
<br>
<br>
<br>

<h2 class="text-center">Might be interesting...</h2>
<!-- code a "Cards" section -->
<br>
<br>

    <div class="cards">

      <div class="card">
        <%= image_tag "images-2.jpg" %>
        <!-- <img src="images/images-2.jpeg" style="background-image: " alt=""> -->
        <p>Rent my Garage</p>
        <p> 5€/m3</p>
      </div>

      <div class="card">
        <%= image_tag "images-1.jpg" %>
        <p>Nice Storagespace for Electronics</p>
        <p> 5€/m3</p>
      </div>

      <div class="card">
        <%= image_tag "images-3.jpg" %>
        <p>Munich available 6 Months</p>
        <p> 5€/m3</p>
      </div>
    </div>
    <div>
    <h3> some extra info/features</h3>
    </div>
  </div>


