<h1>Your current reservations</h1>

<ul id="reservations">
   <% @reservations.each do |r| %>
    <%= link_to space_path(r.space) do  %>
    <div class="link-wrapper">
      <li class="card-space mt-3">
        <% if r.space.image.attached? %>
          <%= cl_image_tag r.space.image.key, height: 300, width: 400, crop: :fill, class: 'w-100' %>
        <% end %>
        <ul class="card-space-details">
          <li><strong>Location</strong> <br> <%= r.space.location.split(',')[0] %></li>
          <li><strong>Start date</strong> <br> <%= r.start_date.strftime("%B")[0..2] %></span> <span class="date"><%= r.start_date.strftime("%d") %></span>
          <li><strong>End date</strong> <br> <%= r.end_date.strftime("%B")[0..2] %></span> <span class="date"><%= r.end_date.strftime("%d") %></span>
        </ul>
      </li>
    </div>
    <% end %>
  <% end %>
</ul>
